<%- include('partials/header') %>



 <div class="bg"></div>
 
 <div class="col-sm-6  mx-auto">
  <div class="card border border-secondary cardL text-center">
   <div class="card-body">
    <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">WELCOME TO RHYME</h1>
    <p class="lead">Please login or register</p>
   
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
   </div>
  </div>
 </div>
</div>

<%- include('partials/footer') %>
