
body {
    background-color: #FFFFFF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}



.btn-google {
    margin-left: 1%;
}

.reg {
    margin-left: 2%;
}

.top {
    margin-left: 2%;
    margin-top: 0.5%;
}

.col-sm-8 {
    flex: 0 0 100%;
    max-width: 100%;
}

.container, .container-sm {
    max-width: 540px;
}


body, html {
  height: 100%;
  margin: 0;
}

.bg {
    background-image: url("/home.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.cardL {
    margin-top: -78%;
}

.bgReg {
    background-image: url("/reg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgEdit {
    background-image: url("/edit.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.regBoxx {
    margin-top: -45%;
    margin-left: 50%;
}


.bgLogin {
    background-image: url("/login.jpg");
    height: 100%; 
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
}

.loginBox {
    margin-left: 55%;
    margin-top: -36%;
}

.cardReg {
    background-color: #F8F8F8;
}

.clR {
    color:#00C9DE;
}

.clL {
    color:#00DFC2;
}

.nvv {
    margin-bottom: 2%;
}

.crd,
.crdView{
    background-color: #F8F8F8;
    border-width: 2px !important;
}

.preff {
    font-size: 20px;
}

.crdView {
     margin-left: 9%;
}

.crdBody {
    padding-top: 0px;
    padding-bottom: 0px;
}

.crdsp {
    margin-top: 2%;
    margin-bottom: 2%;
}

.editt {
    margin-top: 3%;
    margin-bottom: 3%;
}
